# --- 快取 ---
__pycache__/
*.pyc
.ipynb_checkpoints/
*.pth

# --- 虛擬環境與套件管理 ---
.venv/

# --- 實驗紀錄 ---
wandb/
.sb_cache
pretrained_models/
wav2vec2_checkpoints/

# --- 圖 ---
*.jpg
*.png
*.npz

datasets/DAICWOZ/
datasets/Feature