# --- 快取 ---
__pycache__/
*.pyc
.ipynb_checkpoints/
*.pth

# --- 虛擬環境與套件管理 ---
.venv/

# --- 實驗紀錄 ---
wandb/
.sb_cache
pretrained_models/
wav2vec2_checkpoints/
weights/
nested_learning/

# --- 圖 ---
*.jpg
*.png
*.npz

datasets/DAICWOZ/
datasets/Feature
datasets/Feature2
datasets/EATD
datasets/Feat_raw
datasets/Feat_daic_eatd
datasets/Feat_seg_bin_daic
datasets/Feat_seg_bin_daic_eatd